:root {
  --main-font: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

#container {
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color: #FCFBF7;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header button {
  margin-top: 1.5em;
}

header button {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  appearance: none;
  background-color: #7BA573;
}

header button::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

header button:hover {
  transform: translateY(-5px);
}

header button:hover::after {
  background-color: #fff;
}

#title {
  font-size: 3.5em;
}

#content {
  grid-column: 2 / 3;
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  background-color: rgb(238, 238, 238);
}

.chef,
.family-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 1em;
  border: solid white 4px;
}

.short-text {
  margin-top: 1em;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-items img {
  width: 350px;
  height: 300px;
  border: #ffffff solid 5px;
}

.menu-title,
.finish-block {
  display: flex;
  border-bottom: solid black;
  justify-content: center;
  margin: 1em;
  padding: 0.5em;
}

.contact-title {
  display: flex;
  justify-content: center;
  margin: 1em;
  padding: 0.5em;
}

.food-item0,
.food-item1,
.food-item2,
.food-item3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
}

.food-item0 > div,
.food-item1 > div,
.food-item2 > div,
.food-item3 > div {
  display: flex;
  width: 350px;
  padding: 0.3em;
  margin-top: 0.5em;
  font-family: var(--main-font);
}

form {
  max-width: 400px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
#content button {
  padding: 10px 20px;
  background-color: #7BA573;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  appearance: none;
}

.map {
  display: grid;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.map img {
  width: 400px;
  border: solid white 4px;
}

.address {
  display: flex;
  text-align: center;
  justify-content: center;
}
